body {
  margin: 50px;
}

.btn-default {

  min-width: 200px;
  color: white;
  background: green;
}

.form-group {
  max-width: 300px;
  text-align: center;
}



.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 15px;
}

/*.form-control {
  text-align: center;
  margin: 0 auto;
  display: block;
  min-width: 200px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
}*/
/*
#submitBtn {
  text-align: center;
  margin: 0 auto;
  display: block;
  min-width: 200px;
  color: white;
  font-size: x-large;
  background: green;
}*/
/*
.btn-default {
  text-align: center;
  margin: 0 auto;
  display: block;
  min-width: 200px;
  color: white;
  font-size: x-large;
  background: green;
}*/

/*
@media (min-width: 700px)
{
  .navbar-form .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
  }
  #submitBtn {
    display: inline-block;
  }
}*/
